<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Digitus Project</a>
        <ul class="navbar-nav mr-auto">
            @if (User.Identity.IsAuthenticated)//Kullanıcı uygulamaya login olmuşsa
            {                
                @if (User.IsInRole("admin"))
                {
                    <li class="nav-item">
                    <a asp-controller="Admin" asp-action="Index" class="nav-link">User List</a>
                </li>
                }
            }
        </ul>
        <ul class="navbar-nav ml-auto">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Profile" class="nav-link">@User.Identity.Name</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Logout" class="nav-link">Logout</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
                </li>
            }

        </ul>
    </div>
</nav>
